* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.modal-active .content {
  pointer-events: none;
  filter: blur(5px);
  transition: filter 0.3s ease;
}
body button {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
body button.btn-add {
  background-color: #ffc107;
  color: #fff;
}
body button.btn-update {
  background-color: #017301;
  color: #fff;
}
body button.btn-delete {
  background-color: #dc3545;
  color: #fff;
}
body button:hover {
  opacity: 0.8;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}
#overlay.active {
  display: block;
  opacity: 1;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  z-index: -1;
  display: none;
  opacity: 0;
  transition: all 0.3s ease;
}

.modal.active {
  display: flex;
  z-index: 100;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.header {
  max-width: 80%;
  margin: 0 auto;
  padding: 10px 0;
}
.header .nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav-header .logo {
  display: flex;
  font-size: 25px;
  font-weight: 400;
  gap: 5px;
}
.header .nav-header .logo span {
  font-weight: 600;
}
.header .nav-header .logo a {
  font-size: 13px;
}

#table {
  position: relative;
}
#table .table-container {
  overflow-x: auto;
  border-radius: 10px;
}
#table .responsive-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
#table .responsive-table th,
#table .responsive-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
#table .responsive-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}
#table .responsive-table tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}
#table .responsive-table tbody tr:nth-child(even) {
  background-color: #f1f1f1;
}

#formPhone {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
#formPhone .form-name {
  display: flex;
  align-items: center;
  grid-column: span 2;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #333;
}
#formPhone .form-group {
  display: flex;
  flex-direction: column;
}
#formPhone .form-group .sp-thongBao {
  color: red;
  margin-left: 10px;
  font-size: 12px;
  word-spacing: 1px;
  display: none;
}
#formPhone .form-group label {
  font-size: 12px;
  margin-bottom: 5px;
  font-weight: 600;
  color: #555;
}
#formPhone .form-group input,
#formPhone .form-group textarea,
#formPhone .form-group select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 15px;
  font-size: 14px;
}
#formPhone .form-group input:focus,
#formPhone .form-group textarea:focus,
#formPhone .form-group select:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}
#formPhone .form-group textarea {
  height: 15vh;
  resize: none;
}
#formPhone .form-group:nth-child(8),
#formPhone .form-group:nth-child(9) {
  grid-column: span 2;
}
#formPhone .btn-submit {
  grid-column: 2;
  display: flex;
  justify-content: end;
  gap: 5px;
}/*# sourceMappingURL=admin.css.map */